<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutPadrao.html}">
<head>
    <title>LISTA DE RESERVA (ESPAÇO)</title>
</head>
<body>
<header th:replace="~{/fragments/header.html}" th:fragment="header">

</header>
<div class="container" layout:fragment="context">
    <p th:text="${mensagem}" th:class="${style}"></p>

    <div class="listar">
        <h1>LISTAR RESERVA:</h1>
        <form method="get" th:object="${reservaEspacoModel}" action="/ListagemRealizadaReservaEsp">
            <div class="mb-3">
                <label class="form-label">NOME DO ESPAÇO:</label>
                <input type="text" th:field="*{espaco.nomeEspaco}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">LISTAR</button>
            <button class="btn btn-dark" type="button">
                <a href="cadastroReservaEsp" style="color: white; text-decoration: none">CADASTRAR</a>
            </button>
        </form>
        <br>

        <table class="table table-bordered" style="text-align: center">
            <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">NOME DO ESPAÇO</td>
                <td scope="col">FUNCIONÁRIO</td>
                <td scope="col">ATUALIZAR</td>
                <td scope="col">EXCLUIR</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservaEsp : ${reservasEsp}">
                <td th:text="${reservaEsp.id_reserva}"></td>
                <td th:text="${reservaEsp.espaco.nomeEspaco}"></td>
                <td th:text="${reservaEsp.funcionario.nomeFuncionario}"></td>
                <td>
                    <form method="get" action="/atualizarPorIdReservaEspaco">
                        <input type="hidden" name="id" th:value="${reservaEsp.id_reserva}">
                        <button type="submit" class="btn btn-primary">ATUALIZAR</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/deletarReservaEsp">
                        <input type="hidden" name="id" th:value="${reservaEsp.id_reserva}"/>
                        <button type="submit" class="btn btn-danger">EXCLUIR</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer id="footer" th:replace="~{/fragments/footer.html}" th:fragment="footer">

</footer>
</body>
</html>
